.signinBg{
    background-image: url('../img/bg.jpg');
    filter: blur(8px) brightness(0.4);
    -webkit-filter: blur(5px) brightness(0.7);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    
}
.forgotPasswordFormName{
    /* margin-bottom: -10px; */
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.resetMessage{
    margin-bottom: 40px;
}
.forgotPasswordBox{
    background-color: rgba(206, 206, 206, 0.7);
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    height: 500px; 
    width: 375px;
    bottom: 150px;  
}
.forgotPasswordForm{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subButton{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 250px;
}

.centerText{
    text-align: center;
}
.passwordResetError{
    position: absolute;
    bottom: 125px;
    left: 65px;
    color: red;
}
.signUpMessage{
    margin-top: 10px;
    color: red;
}

