
.employeeButton{
    margin-right: 10px;
    font-family: JosefinSans-Light;
    font-size: 20px !important;
}

.homeButton{
    margin-right: 10px;
    font-family: JosefinSans-Light;
    font-size: 20px !important;
}
