.createInput{
    width: 200px !important;
}

.buttonStyle{
    margin-left: 20px;
    width: 120px;
}

.addFriendButton{
    margin-right: 20px;
}

.profile{
    cursor: pointer;
}

.userName{
    font-weight: bold;
}

.white{
    color: white !important;
}
.addFriendError{
    margin-left: 20px;
    color: red
}
.addFriendSuccess{
    margin-left: 20px;
    color: rgb(28, 219, 28)
}

.pinInput{
    width: 150px ! important;
}
.friendLabel{
    margin-right: -30px;
}
