
.navbar,
.navbar-default {
    /* background-image: url('../img/water1.jpg') !important; */
    /* background-color: red !important; */
}
.navbarTitle{
    font-family: Lobster;
    font-size: 35px !important;
}
.navbarTitle:hover{
    cursor: pointer;
}
.createInput{
    width: 200px !important;
}

.buttonStyle{
    margin-left: 20px;
    width: 120px;
}

.addFriendButton{
    margin-right: 20px;
    font-family: JosefinSans-Light;
    font-size: 20px !important;
}

.profile{
    cursor: pointer;
    font-family: JosefinSans-Light;
    font-size: 20px;
}

.userName{
    font-family: JosefinSans-Bold;
    font-size: 20px;
}
.signoutDrop{
    font-family: JosefinSans-Light;
    font-size: 20px;
}
.white{
    color: white !important;
}
.addFriendError{
    margin-left: 20px;
    color: red
}
.addFriendSuccess{
    margin-left: 20px;
    color: rgb(28, 219, 28)
}

.pinInput{
    width: 150px ! important;
}
.friendLabel{
    margin-right: -30px;
}
.expansion{
    color: white;
}


