.sentBg{
    background-image: url('../img/bg.jpg');
    filter: brightness(0.4);
    -webkit-filter: brightness(0.7);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    
}


.sentBox{
    background-color: rgba(206, 206, 206, 0.7);
    padding: 20px;
    margin-top: 100px;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 100px;
    text-align: center;
    transform: translateX(-50%);
    height: 200px; 
    width: 375px;
    bottom: 150px;  
}
.sentMessage{
    margin-top: 10%;
    font-family: JosefinSans-Light;
    font-size: 22px;
}

.sentButton{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 250px;
}
