.resetBg{
    background-image: url('../img/bg.jpg');
    filter: brightness(0.4);
    -webkit-filter: brightness(0.7);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    
}
.resetForm{
    background-color: rgba(206, 206, 206, 0.7);
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 400px; 
    width: 375px;
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
}

.resetButton{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 250px;
    font-family: JosefinSans-Light;
    font-size: 23px !important;
}

.centerText{
    text-align: center;
}
.resetError{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
}
.newPassword{
    font-family: JosefinSans-Light;
    font-size: 23px !important;
    margin-bottom: -40px;
}


