.signinBg{
    background-image: url('../img/bg.jpg');
    filter: blur(8px) brightness(0.4);
    -webkit-filter: blur(5px) brightness(0.4);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    
}
.signinFormName{
    /* margin-bottom: -10px; */
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2px;
}
.signinBox{
    background-color: rgba(206, 206, 206, 0.7);
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    height: 500px; 
    width: 375px;
    bottom: 150px;

    
}


.signinLabels{
    margin-bottom: -50px !important;
    margin-top: 30px;
}

.q{
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 193px;
}

.signinButton{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 250px;
}

.centerText{
    text-align: center;
}
.signinError{
    position: absolute;
    bottom: 110px;
    left: 102px;
    color: red;
}
.signUpMessage{
    color: red;
}
