@font-face {
    font-family: Lobster;
    src: url("../fonts/Lobster.otf") format("opentype");
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url("../fonts/JosefinSans-SemiBold.ttf") format("opentype");
}
@font-face {
    font-family: JosefinSans-Light;
    src: url("../fonts/JosefinSans-Light.ttf") format("opentype");
}
.signinBg{
    background-image: url('../img/bg.jpg');
    filter: blur(8px) brightness(0.4);
    -webkit-filter: blur(5px) brightness(0.7);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    
}
.signinFormName{
    /* margin-bottom: -10px; */
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2px;
    font-family: JosefinSans-Bold;
}
.signinBox{
    background-color: rgba(206, 206, 206, 0.7);
    padding: 20px;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    height: 500px; 
    width: 375px;
    bottom: 150px;    
}
/* .forgotPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
} */



.signinLabels{
    margin-bottom: -50px !important;
    margin-top: 30px;
    font-family: JosefinSans-Bold;
}

.q{
    width: 25px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 193px;
}

.signinButton{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 250px;
    font-family: JosefinSans-Light;
    font-size: 23px !important;
}

.centerText{
    text-align: center;
}
.signinError{
    position: absolute;
    bottom: 98px;
    left: 102px;
    color: red;
    font-family: JosefinSans-Bold;
}
.signUpMessage{
    margin-top: 10px;
    color: red;
}

.signinLoading{
    width: 50px;
    position: absolute;
}
.forgotPassword{
    font-family: JosefinSans-Bold;
    font-size: 18px;
}
.signinLink{
    font-family: JosefinSans-Bold;
    font-size: 18px;
}

