@font-face {
    font-family: aurora;
    src: url("../img/aurora.ttf") format("opentype");
}
.background{
    background-color: rgb(232, 253, 253);
    height: 100vh;
}
.cardContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 375px;
    margin-left: 30px;
    margin-top: 65px;
    height: 69px;
    position: relative;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
}
.card:hover{
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px 5px rgba(0,0,0,0.75);
    cursor: pointer;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.totalFriendsBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -55px;
}
.friendTotal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: JosefinSans-Bold;
    border: solid black;
    text-align: center;
    width: 250px;
    height: 75px;
}
.stamp{
    font-family: aurora;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80px;
    border: dashed black;
    border-radius: 30px;
    position: absolute;
    color: black;
    transform: rotate(340deg);
    top: -28px;
    left: 0px;
    opacity: .8;
}

.box1{
    text-align: right;
}
.box2{
    text-align: center
}
.cardFriendName{
    font-family: JosefinSans-Light; 
    font-size: 23px;
}
.popUserHead{
    font-family: JosefinSans-Light; 
    font-size: 22px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
