@font-face {
    font-family: aurora;
    src: url("../img/aurora.ttf") format("opentype");
}
.cardContainer{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 375px;
    margin-left: 30px;
    margin-top: 65px;
    position: relative;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
}
.friendTotal{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.stamp{
    font-family: aurora;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80px;
    border: dashed black;
    border-radius: 30px;
    position: absolute;
    color: black;
    transform: rotate(340deg);
    top: -15px;
    left: 0px;
    opacity: .8;
}

.box1{
    text-align: right
}
.box2{
    text-align: center
}
